.lang-switcher {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  border-color: rgb(168, 162, 158);
  color: rgb(41, 37, 36);
}

.lang-switcher:hover {
  border-color: rgb(59, 130, 246);
  color: rgb(59, 130, 246);
  text-decoration: none;
}

.dark .lang-switcher {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.dark .lang-switcher:hover {
  border-color: rgb(96, 165, 250);
  color: rgb(96, 165, 250);
}
