name: Changelog updated?

on:
  pull_request:
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize
    branches:
      - main

jobs:
  call-changelog-check-workflow:
    if: ${{ ! github.event.repository.fork }}
    uses: ASFHyP3/actions/.github/workflows/reusable-changelog-check.yml@v0.21.0
    permissions:
      contents: read
